.font {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

/* Nav style */
nav {
  display: flex;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.r {
  color: rgb(255, 155, 74);
}
